# AIDevs3 specifics
/s02e01
/s02e02
/s02e04
/s02e05
/s03e01
/s03e02

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment and virtual environment folders
.env
.venv
env/
venv/
*.env

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Ignore Python cache files
__pycache__/

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDE/Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs and databases
*.log
*.sql
*.sqlite

# Dependency directories
node_modules/
vendor/

# User-specific ignores
*.pem